<!doctype html>
<html>
	<head>
		<title>Socket.IO.chat</title>
		<script src="js/socket.io/socket.io.js"></script>
        <!-- <script src="js/chat.js"></script> -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href=""/>
        <style >
           .bg{
           	background-color: #f2f2f2;
           }
           form{
           	position: absolute;
           	bottom: 0px;
           	height:30px;
           }
           #messages{
           	padding-bottom: 30px;
           	list-style-type:none;
           } 
           .friend{
            padding: 20px 20px 0px;
            clear: both;  
           }
           .me{
             padding: 10px 0px;
             clear: both; 
            }
           /**头部*/
           .chat_header{
            background-color: #3CB7FA;
            text-align: center;
            height:30px;
            font-size: 30px;
            color: #fff;
           }


        </style>
	</head>
	<body class="bg">
     <div class='chat_header'><%=username%></div>
     <input type="hidden" name="fId" value='<%=id%>'>
     <input type="hidden" name="fsrc" value='<%=src%>'>



      <div id="chat">
			 <ul id="messages"></ul>
			 <div id="form"> 
           <input type="email" class="form-control" id="inputMessage" placeholder="客观这里输入你话。。。。。"> 
			 	<button id="submit">send</button>
			 </div>
		</div>
    
		</div>
	</body>
<script src="../js/jquery2.1.4.js"></script>
<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript">
    const fId = '<%= id %>';
    const fSrc = '<%= src %>';
    const socket = io.connect('http://127.0.0.1:3000');

	window.onload=function(){
    //渲染聊天记录，现在是从数据库1取，以后从本地取
    renderChatList();
  }

      
 //监听socket的连接
	socket.on("connect",function(){
	document.getElementById("chat").style.display="block";
	socket.on("resMessage",function(resMessage){
    if(resMessage.id=== fId){
       addMessage("friend",fSrc,resMessage.message);
       } 
    });
  });

 

	//点击发送消息
 $('#submit').on('click',()=>{  
   const message=$("#inputMessage").val();
   const params = {};
   params.message = message;
   params.senderId = window.localStorage.getItem("id");
   params.senderSrc =window.localStorage.getItem("src");
   params.receiver = fId;
   socket.emit("text",params,function(res){
     if(res.status=== '1001'){//如果插入数据库成功
       addMessage('me',localStorage.getItem("src"),message);
     }
   });
  //重置这个框,起到一个发送的效果
    $("#inputMessage").val('');
   });

//添加聊天内容至页面
function addMessage(who,src,text){ 
  const li=document.createElement("li");
  li.className ="message"; 
  if(who === 'me'){
       li.className ="me"; 
       li.innerHTML="<img src='http://127.0.0.1:3000/upload/"+src+"' class='img-circle discuss-user-img' style='width:50px;border-radius:25px;'/>&nbsp;&nbsp<span style='background-color:#008cc8;border-radius:5px;padding:5px 10px'>"+text+"</span>";
  }else{
      li.className ="friend"; 
      li.innerHTML="<img src='http://127.0.0.1:3000/upload/"+src+"' class='img-circle discuss-user-img' style='width:50px;border-radius:25px;float:right'/><span style='margin-top:10px;background-color:#008cc8;border-radius:5px;padding:5px 10px;float:right;margin-right:20px'>"+text+"</span>";
  } 
  document.getElementById("messages").appendChild(li); 
}   

function renderChatList(){

}


	</script>
</html>


