<!doctype html>
<html>
	<head>
		<title>Socket.IO.chat</title>
		<script src="js/socket.io/socket.io.js"></script>
        <!-- <script src="js/chat.js"></script> -->
        <link rel="stylesheet" type="text/css" href=""/>
        <style >
           .bg{
           	background-color: #f2f2f2;
           }
           form{
           	position: absolute;
           	bottom: 0px;
           	height:30px;
           }
           #messages{
           	padding-bottom: 30px;
           	list-style-type:none;
           }
           .message{
           	padding-bottom: 20px;
           }
           .you{
             
           }
           .me{

           }
        </style>
	</head>
	<body class="bg">
      <div id="chat">
			 <ul id="messages"></ul>
			 <form id="form">
			 	<input type="text" name="message" id="input"/>
			 	<button>send</button>
			 </form>
		</div>
    
		</div>
	</body>
<script src="../js/jquery-3.3.1.js"></script>
<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript">
		window.onload=function(){
    var socket = io.connect('http://localhost:3000');
	socket.emit("join","<%=user.username%>","<%=user.headImageName%>");
	socket.on("connect",function(){
	document.getElementById("chat").style.display="block";
	socket.on("announcement",function(mes){
		var li =document.createElement("li");
		    li.className="announcement";
		    li.innerHTML=mes;
		    document.getElementById("messages").append(li);
	});
  });

function addMessage(who ,text,img){
	var li=document.createElement("li");
	li.className ="message"; 
	if(who!="<%=user.username%>"){
       li.innerHTML="<img src='/img/public/lunbo1.jpg' class='img-circle discuss-user-img' style='width:50px;border-radius:25px'/>&nbsp;&nbsp<span style='background-color:#008cc8;border-radius:5px;padding:5px 10px'>"+text+"</span>";
	}else{
		li.innerHTML="<img src='/img/public/lunbo2.jpg' class='img-circle discuss-user-img' style='width:50px;border-radius:25px'/>&nbsp;&nbsp<span style='background-color:#fff;border-radius:5px;padding:5px 10px'>"+text+"</span>";
	}
	
	document.getElementById("messages").appendChild(li);
	return li;
}

var input=document.getElementById("input");
document.getElementById("form").onsubmit =function(){ 
   var li =addMessage("<%=user.username%>",input.value,"<%=user.headImageName%>");
   socket.emit("text",input.value,function(date){
   	var p=document.createElement("span");//时间戳//消息接受到的情况进行比对
   	p.innerHTML="&nbsp;&nbsp==>"+date;
   	p.style.color="#f2f2f2";
    li.append(p);
   });

	//因为是广播，所以重置这个框
	input.value=""; 
    input.focus();
    return false;
};
 


socket.on("text",addMessage);
}
		
	</script>
</html>


